# Семинар Python для аналитиков

## Задание 1

### 1.1 Соедините два словаря в один

### 1.2 Напишите функцию, которая на вход принимает два словаря и возвращает один объединенный словарь. Используйте аннотирование типов

In [3]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [4]:
dict1.update(dict2)

In [5]:
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [6]:
def my_dict(dict1:dict, dict2: dict) -> dict:
    dict1.update(dict2)
    return dict1

In [7]:
my_dict(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

## Задание 2

Напишите функцию, которая из двух списков делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения.

### 2.1 Используя цикл for
### 2.2 Используя dict comprehention

In [8]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]
def made_dict(keys: list, values: list) -> dict:
    len_dict = len(keys)
    my_dict = {}
    for i in range(len_dict):
        my_dict.update({keys[i]:values[i]})
    return my_dict
made_dict(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

In [9]:
dict(zip(keys, values))

{'One': 1, 'Two': 2, 'Three': 3}

## Задание 3

Извлеките только два ключа name и age из представленного словаря

### 3.1 Напишите функцию с циклом for
Функция на вход принимает:
исходный словарь
ключи, которые нужно извлечь (аргумент по умолчанию)
На выходе словарь с нужными ключами
Используйте аннотирование типов

### 3.2 Используя dict comprehensions

In [20]:
client_dict = {"name": "John",
              "age": 25,
              "salary": 5000,
              "city": 'Moscow'}
keys = ['name', 'age']
def get_keys(dict1, keys):
    res = {}
    for i in keys:
        res.update({i: dict1[i]})
    return res
get_keys(client_dict, keys)

{'name': 'John', 'age': 25}

In [21]:
client_dict = {"name": "John",
              "age": 25,
              "salary": 5000,
              "city": 'Moscow'}
keys = ['name', 'age']
my_dict = {key: client_dict[key] for key in keys}
my_dict

{'name': 'John', 'age': 25}

<img src=https://kartinkin.net/pics/uploads/posts/2022-09/1662757754_5-kartinkin-net-p-domashnie-kotiki-vkontakte-5.jpg>

<table>
    <tr>
        <td> </td>
        <td>ДО СОБЫТИЯ</td>
        <td>ВО ВРЕМЯ СОБЫТИЯ </td>
    </tr>
    <tr>
        <td>1 КОНТРОЛЬНАЯ ТОЧКА</td>
        <td>250</td>
        <td>500</td>
    </tr>
    <tr>
        <td>2 КОНТРОЛЬНАЯ ТОЧКА</td>
        <td>350</td>
        <td>700</td>
    </tr>
    <tr>
        <td>3 КОНТРОЛЬНАЯ ТОЧКА</td>
        <td>400</td>
        <td>800</td>
    </tr>
</table>

## Задание 6
Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее. На вход поступают целочисленные значения в любом количестве. На выходе словарь с ключами суммы трат и средней траты

In [24]:
def agg(*args):
    return {
        'sum': sum(args),
        'avg': sum(args)/len(args)
    }

In [25]:
agg(5,4,3)

{'sum': 12, 'avg': 4.0}

## Задание 4

### 4.1 Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random
Зафиксируйте псевдогенерацию, чтобы сгенерированные значения всегда были одинаковые
Используйте list comprehensions

In [43]:
import random
random.seed(48)
data = [random.randint(0, 100) for i in range(5)]
data

[70, 40, 16, 71, 91]

### 4.2 Напишите генератор
Генератор на вход принимает список с данными о клиенте (данные из пункта 4.1)
Внутри генератора реализуйте обход по списку с данными
На каждой итерации генератор будет возвращать кортеж из двух элементов:
данные по клиенту (в зависимости от итерации, на 0 итерации вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
целочисленное значение, которое показывает, сколько секунд прошло с предыдущей итерации
Примечание: секунды, которые возвращаются должны показывать время не с начала запуска генератора, а именно то время, которое прошло с предыдущей итерации. А значит время на первой итерации должно равняться 0.
Используйте функцию time из модуля time для подсчета времени.
Чтобы проверить работу таймера, запустите проход по генератору в цикле с time.sleep(2)

In [46]:
import time
def elapsed_since(data):
    last_time = None
    for item in data:
        current_time = time.time()
        if last_time:
            delta = current_time - last_time
        else:
            delta = current_time - current_time
            
        last_time = time.time()
        yield(int(delta), item)

In [47]:
for t in elapsed_since(data):
    print(t)
    time.sleep(2)

(0, 70)
(2, 40)
(2, 16)
(2, 71)
(2, 91)

# Home work

## Задача 1
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

In [50]:
def total_fruits(**fruits):
    total = 0
    for count in fruits.values():
        total = total + count
    return total

In [51]:
total_fruits(apple=7, orange=8, lemon=7)

22

## Задача 2
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions.

In [52]:
list = [100, 125, -90, 345, 655, -1, 0, 200]
sum([i for i in list if i>0])

1425

## Задача 3
Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09'] <br>
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions.

In [61]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
revenue =  [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
sum([revenue[i] for i in range(len(dates)) if dates[i].split('-')[1]=='11'])

25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [64]:
def calc_revenue(dates: list, revenue: list) -> dict:
    income_by_month = {}
    for i in range(len(dates)):
        month = dates[i].split('-')[1]
        if month in income_by_month.keys():
            income_by_month[month] += revenue[i]
        else:
            income_by_month[month] = revenue[i]
    return income_by_month
calc_revenue(dates, revenue)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}